body {
   background-image: url(image/Frontyard.jpg);
   
   /* overflow: hidden; */
  }
  
  #canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:1;
  }
  
  #start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(10px);
    z-index: 10000;    
}

 
#start-screen img {
     position: absolute;
     width: 100%;
     top: -340px;
}

#start-button {
  font-family: arial black;
  bottom: 0;
    padding: 60px;
    font-size: 80px;
    border-radius: 60px;
    border:3px white solid;
    border-color: white solid 10px;
    z-index: 1000;
    position: absolute;
    transition: all 0.5s ease;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: white;
}

#start-button:hover {
transform: scaleX(1.1);
background-color: blue;
}


#start-button2 {
  right: 0;
  top: 0;
  padding: 15px;
  font-size: 40px;
  border-radius: 60px;
  border:3px white solid;
  border-color: white solid 10px;
  z-index: 301;
  position: absolute;
  transition: all 0.5s ease;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: white;
}

#start-button2:hover {
  transform: scaleX(1.1);
  background-color: blue;
  }

  #video{
    z-index: 100000;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg); 
    position: absolute;
    top: 0px;
    left: 0px;
    border: 3px #fff solid;
      border-radius: 10px;
      opacity: 1%;
      width: 1920px;
      height: 1080px;
  }

  #game {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;

    display: block;
}

#aim {
  position: absolute;
  width: 36px;
  height: 20px;
  background-image: url(image/AimingReticle.png);
  border-radius: 50%;
  z-index: 100;
  background-size: contain;
  background-repeat: no-repeat;
}

#points{
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 7px solid black;
  font-family: arial black;
  color: black;
  font-size: 10vw;
  position: absolute;
  z-index: 300;
  top: 0;
  left: 0;
}

.enemy {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  top: 100px;
  left: 100px;
}
#game.bang {
  border: 5px solid transparent;
}
.enemy.hit
{
  background-image: url(image/blood.png);
  animation-play-state: paused;
}


#zombie2{
  display: none;
  top: 0;
  right: 0;
  z-index: 300;
  position: absolute;
}

#zombie2 img{
width: 500px;
height: 500px;
}

#zombie2 h2{
  background-color: white;
  color: black;
  height: 60px;
  }

.zombie {
  z-index: 1;
  display: block;
  width: 200px;
  height: 250px;
  background-image: url(image/Zombie1.png);
  background-position: center top;
  position: absolute;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.zombie.ani1 {
  animation-name: zombie-movement1; 
}
.zombie.ani2 {
  animation-name: zombie-movement2; 
}
.zombie.ani3 {
  animation-name: zombie-movement3; 
}
.zombie.ani4 {
  animation-name: zombie-movement4; 
}
.zombie.ani0 {
  animation-name: zombie-movement5; 
}

.zombie.ani1:hover {
  /* animation-name: none; */
  animation-play-state: paused; 
}
.zombie.ani2:hover {
  /* animation-name: none;  */
  animation-play-state: paused;
}
.zombie.ani3:hover {
  /* animation-name: none;  */
  animation-play-state: paused;
}
.zombie.ani4:hover {
  /* animation-name: none;  */
  animation-play-state: paused;
}
.zombie.ani0:hover {
  /* animation-name: none  */
  animation-play-state: paused;
}





@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes zombie-movement1 {
  0% { transform: translateX(10px) }
  50%{transform: translateX(1000px) }
  100% { transform: translateX(1000px)}
}

@keyframes zombie-movement2 {
  0% { transform: translateX(10px)  }
  50%{transform: translateX(200px)}
  100% { transform: translateX(400px) }
}

@keyframes zombie-movement3 {
  0% { transform: translateX(10px)  }
  50%{transform: translateX(300px)}
  100% { transform: translateX(900px) }
}

@keyframes zombie-movement4 {
  0% { transform: translateX(10px)  }
  50%{transform: translateX(460px)}
  100% { transform: translateX(700px) }
}

@keyframes zombie-movement5 {
  0% { transform: translateX(-1920px) }
  50%{transform: translateX(500px)} 
  100% { transform: translateX(2100px)  }
}