body {
    background-color: #000;
  }
  
  #canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:1;
  }
  
  #video{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:-1;
    border: 3px #fff solid;
      border-radius: 10px;
  }

  #game {
    width: 640px;
    height: 480px;
    position: relative;
    z-index: 2;
    background-color: rgba(255,0,0,0.3);
    display: block;
}
#game.bang {
    background-color: rgba(0,255,0,0.3);

}
#aim {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
}